[Unit]                                                                                                           
Description=runc demo                                                                                            
Wants=multi-user.target                                                                                          
After=multi-user.target                                                                                          
                                                                                                                   
[Service]                                                                                                        
Type=simple
User=root
WorkingDirectory=/opt/runc-demo
ExecStart=/opt/runc-demo/democtl start
ExecStop=/opt/runc-demo/democtl stop                                                                    
Restart=always
StandardOutput=null
StandardError=null
KillMode=mixed
TimeoutStopSec=20
LogRateLimitBurst=0

[Install]                                                                                                        
WantedBy=multi-user.target            
