[Unit]                                                                                                           
Description=runc demo                                                                                            
Wants=multi-user.target                                                                                          
After=multi-user.target                                                                                          
                                                                                                                   
[Service]                                                                                                        
Type=simple
User=root
WorkingDirectory=/opt/runc-demo/oci
ExecStart=/bin/sh -c "/opt/runc-demo/oci/demo-runc run -d runcdemo"
ExecStop=/bin/sh -c "/opt/runc-demo/oci/demo-runc kill runcdemo KILL && sleep 2 && /opt/runc-demo/oci/demo-runc delete runcdemo"
Restart=always
StandardOutput=null
StandardError=null
KillMode=mixed
TimeoutStopSec=20
LogRateLimitBurst=0

[Install]                                                                                                        
WantedBy=multi-user.target            
